<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Data Tables</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/template/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/template/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/template/bower_components/Ionicons/css/ionicons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="/template/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/template/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/template/dist/css/skins/_all-skins.min.css">
  <!-- select -->
<link rel="stylesheet" href="/template/bower_components/select2/dist/css/select2.min.css">

  

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


        <style type="text/css">
          .AlahliSMSStyle { background-color: #16a765;} 
          .BankAlbiladStyle { background-color: #fdedc1;}
          .alinmabankStyle { background-color: #cca6ac;}
          .AlRajhiBankStyle { background-color: #4986e7;}
          .ANBStyle { background-color: #a2dcc1;}
          .FransiSMSStyle { background-color: #f2b2a8;}
          .AlJaziraSMSStyle {background-color: #98d7e4;}
          .RiyadBankStyle  {background-color: #ffad46;}
          .SABBStyle  {background-color: #b99aff;}
          .SambaStyle  {background-color: #b6cff5;}
          
          .completedStyle  {background-color: #008d4c;}
          .refundStyle  {background-color: #f39c12;}
          .assignedStyle  {background-color: #00acd6;}

          .completeHighlight {background-color : #c9fcab  !important;}
          .refundHighlight {background-color : #ffd189 !important;}
          .assignHighlight {background-color : #85e5fc !important;}
        </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="../../index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Admin</b>LTE</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/images/avatar.png" class="user-image" alt="User Image">
              <span class="hidden-xs"> <%= user.name%></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="/images/avatar.png" class="img-circle" alt="User Image">

                <p>
                  <%= user.name%>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a id="signOut" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/images/avatar.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%=user.name%></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview <% if(mainActive == 'dash' && !ifBankAll){ %> active<%}%>">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="<% if(active == 'view' && !rep && !bank){ %> active <%}%>"><a href="/"><i class="fa fa-circle-o"></i>pending</a></li>
            <% banks.forEach(function(b){ %>
              <li class="<% if(bank == b.senderName && !ifBankAll){ %> active <%}%>"><a href="/?bank=<%=b.senderName%>"><i class="fa fa-circle-o"></i> 
                <span class ="badge <%=b.senderName%>Style" ><%=b.title%></span></a>
              </li>
            <% }); %>
            <li class="<% if(active == 'refund'){ %> active <%}%>"><a href="/refund"><i class="fa fa-circle-o"></i> refund</a></li>
            <li class="<% if(active == 'withoutOrders'){ %> active <%}%>"><a href="/withoutOrders"><i class="fa fa-circle-o"></i> without orders</a></li>
            <li class="<% if(active == 'completed'){ %> active <%}%>"><a href="/completed"><i class="fa fa-circle-o"></i> completed</a></li>
          </ul>
        </li>

        <li class="treeview <% if(ifBankAll){ %> active<%}%>">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Banks</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <% banks.forEach(function(b){ %>
              <li class="<% if(bank == b.senderName && ifBankAll){ %> active <%}%>"><a href="/?bank=<%=b.senderName%>&ifBankAll=true"><i class="fa fa-circle-o"></i> 
                <span class ="badge <%=b.senderName%>Style" ><%=b.title%></span></a>
              </li>
            <% }); %>
          </ul>
        </li>

        <li class="treeview <% if(mainActive == 'rep'){ %> active<%}%>">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Representative</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <% counter = 0;  representative.forEach(function(r){  %>
              <li class="<% if(rep == r._id){ %> active <%}%>"><a href="/?rep=<%=r._id%>"><i class="fa fa-circle-o"></i> <%=r.name%></a></li>
            <% }); %>
          </ul>
        </li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Data Tables
        <!-- <small>advanced tables</small> -->
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title"></h3>
            </div>
            <div class="row">
              <div class="col-xs-10 col-md-11 "></div>
              <button class="btn btn-success" data-toggle="modal" data-target="#modal-add-hawala">Add</button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>sender name</th>
                    <th>phone</th>
                    <th>text</th>
                    <th>creation Date</th>
                    <th>notes</th>
                    <% if(active == 'completed'){ %>
                      <th>completed by</th>
                      <th>completed at</th>
                      <% if(user.isAdmin){ %>
                        <th>actions</th>
                      <% } %>
                    <% }else if(active == 'refund'){ %>
                      <th>refund by</th>
                      <th>refund at</th>
                      <th>actions</th>
                      <% }else if(bank) { %>
                        <th>assign To</th>
                        <th>actions</th>
                      <% }else { %>
                        <th>actions</th>
                      <% } %>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
    </div>
    <strong>Copyright &copy; 2018 <a href="like4card.com">Like4Card</a>.</strong>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- /modal -->
<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 id="noteTitle" class="modal-title">Add note #</h4>
      </div>
      <div class="modal-body">
         <div class="form-group">
          <label for="exampleInputPassword1">Note</label>
          <input type="text" class="noteValue form-control"  placeholder="Note" id="note">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button"  smsId="" id="addNoteAction" class="btn btn-primary" >save</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- /modal -->
<div class="modal fade" id="modal-assignToRepresentative">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 id="assignTitle" class="modal-title">assign #</h4>
      </div>
      <div class="modal-body">
         <div class="form-group">
          <label for="exampleInputPassword1">representative</label>
          <select class="form-control representativeSelect" style="width: 100%;">
            <% representative.forEach(function(rep){ %>
              <option value="<%= rep._id %>"><%= rep.name %></option>
            <% }) %>
          </select>
          <!-- <input type="text" class="noteValue form-control"  placeholder="Note" id="reoId"> -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button"  smsId="" id="assignAction" class="btn btn-primary" >assign</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- /modal  add hawala-->
<div class="modal fade" id="modal-add-hawala">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 id="noteTitle" class="modal-title">Add Hawala #</h4>
      </div>
      <div class="modal-body">
         <div class="form-group">
          <label for="exampleInputPassword1">Sender Name</label>
          <input type="text" class="noteValue form-control"  placeholder="senderName" required="required" id="hawalaSenderName" >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Phone</label>
          <input type="text" class="noteValue form-control"  placeholder="phone" required="required" id="hawalaPhone" >
        </div>
         <div class="form-group">
          <label for="exampleInputPassword1">text</label>
          <input type="text" class="noteValue form-control"  placeholder="text" required="required" id="hawalaText">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">date</label>
          <input type="datetime-local" class="noteValue form-control"  placeholder="date" required="required" value="2018-01-01T00:00" id="hawalaDate">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button"  id="addHawala" class="btn btn-primary" data-dismiss="modal" >save</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- jQuery 3 -->
<script src="/template/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/template/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="/template/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/template/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/template/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/template/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/template/dist/js/adminlte.min.js"></script>
<!-- select  -->
<script src="/template/bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- page script -->
<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/moment.js"></script>
<script src="/javascripts/moment-timezone.js"></script>
<script>
  var activePage = "<%=active%>";
  var isAdmin = ("<%=user.isAdmin%>" == 'true');
  var rep = "<%=rep%>";
  var bank = "<%=bank%>";
  var ifBankAll = "<%=ifBankAll%>";
  
  var uncompleteButton = isAdmin?'<button class="uncompleteAction btn btn-flat btn-danger">undo complete</button>':'';
  var unRefundButton = isAdmin?'<button class="uncompleteAction btn btn-flat btn-danger">undo refund</button>':'';
  var unAssignButton = isAdmin?'<button class="uncompleteAction btn btn-flat btn-danger">undo assign</button>':'';
  var completeButton = '<button class=" completeAction btn btn-flat btn-success">complete</button>';
  var refundButton = '<button class=" refundAction btn btn-flat btn-warning">refund</button>';
  var noteButton = '<button class=" addNoteButton btn btn-flat btn-primary" data-toggle="modal" data-target="#modal-default">add Note</button>';
  var assignButton = '<button class=" assignButton btn btn-flat btn-info" data-toggle="modal" data-target="#modal-assignToRepresentative">assign</button>';

  function DateRender(date){
    return moment.tz(date,'Asia/Riyadh').format('Y-M-D H:m ');
  }
  function senderNameRender(senderName){
    return '<span class="badge '+senderName.replace('.','')+'Style" >'+senderName+'</span>';
  }

  function statusRender(status){
    if(bank){
      if(status == 'pending')
        return completeButton+noteButton+refundButton+assignButton;

      return '<span class="badge '+status+'Style" >'+status+'</span>';
    }
    if(status == 'completed')
      return uncompleteButton;
    if(status == 'refund')
      return noteButton+unRefundButton;
    if(status == 'withoutOrders')
      return completeButton+noteButton+refundButton+assignButton;
    if(status == 'assigned')
      return noteButton+unAssignButton;
    return completeButton+noteButton+refundButton+assignButton;

  }
  function getColumns(activePage){
    var columns = [
      { "data": "_id" ,render : function(id){return id.substr(18)}},
      { "data": "senderName" ,render : senderNameRender},
      { "data": "phone" },
      { "data": "text" },
      { "data": "creationDate" ,render : DateRender},
      { "data": "notes" },
    ];
    if(bank) 
      columns.push({ "data" : "toRepresentative.name", "defaultContent": '-'});
      
    if(activePage == 'completed')
      columns.push({ "data": "completedBy.name" },{ "data": "completedAt",render : DateRender});
    if(activePage == 'refund')
      columns.push({ "data": "refundBy.name" },{ "data": "refundAt",render : DateRender});
    
    columns.push({ "data" : "status", render : statusRender});
    return columns;
  }
  $(function () {
    $('.representativeSelect').select2();
    var table = $('#example2').DataTable({
      serverSide : true,
      lengthMenu: [ 100, 10,50, 200 ],
      ajax : {
        url : '/ajaxList',
        type : 'POST',
        "data": {
            "activePage": activePage,
            bank : bank,
            rep : rep,
            ifBankAll : ifBankAll
        }
      },
      processing: true,
      columns: getColumns(activePage),
      createdRow: function( row, data, dataIndex ) {
          $(row).attr('smsId', data._id); 
      },
      paging      : true,
      lengthChange: true,
      searching   : true,
      ordering    : true,
      order: [[ 0, "desc" ]],
      info        : true,
      autoWidth   : false
    });

    $('#example2').on('click','.completeAction',function(){
      var node  = $(this);
      
      node.parents('tr').addClass('completeHighlight')

      setTimeout(function(){
        var smsId = node.parents('tr').attr('smsId');
        var cpnfirmation = confirm("are you shure complete this #"+smsId.substr(18));
        node.parents('tr').removeClass('completeHighlight')
        
        if(cpnfirmation){
          $.post("/sms/completed",{
              smsId:smsId
            },
            function(data, status,xhr){
              if(xhr.status == 200){
                // table.row( node.parents('tr') ).remove().draw();
                console.log("Data: " + data.message + "\nStatus: " + status);
              }
              else
                alert("error "+data.message);
          });
        }
      },20);
    });

     $('#example2').on('click','.uncompleteAction',function(){
      var node  = $(this);

      node.parents('tr').addClass('completeHighlight')

      setTimeout(function(){
        var smsId = node.parents('tr').attr('smsId');
        var cpnfirmation = confirm("are you shure unndo complete this #"+smsId.substr(18));
        node.parents('tr').removeClass('completeHighlight')
        
        if(cpnfirmation){
          $.post("/sms/uncompleted",{
              smsId: smsId
            },
            function(data, status,xhr){
              if(xhr.status == 200){
                table.row( node.parents('tr') ).remove().draw();
              }
              else
                alert("error "+data.message);
          });
        }
      },20);  
    });

    $('#example2').on('click','.refundAction',function(){
      var node  = $(this);
      var smsId = node.parents('tr').attr('smsId');
      node.parents('tr').addClass('refundHighlight')
      setTimeout(function(){

        var cpnfirmation = confirm("are you shure refund this #"+smsId.substr(18));
        node.parents('tr').removeClass('refundHighlight')
        if(cpnfirmation){
          $.post("/sms/refund",{
              smsId: smsId
            },
            function(data, status,xhr){
              if(xhr.status == 200){
                // table.row( node.parents('tr') ).remove().draw();
                console.log("Data: " + data.message + "\nStatus: " + status);
              }
              else
                alert("error "+data.message);
          });
        }
      });
    });

    $('#example2').on('click','.addNoteButton',function(){
      var node  = $(this);
      $('#noteTitle').html("add note #"+node.parents('tr').attr('smsId'));
      $('#addNoteAction').attr("smsId",node.parents('tr').attr('smsId'));

    });

    $('#signOut').click(function(){
      document.cookie = "jwt = signOut";
      window.location.replace("/auth/login");

    });

    $('#addNoteAction').click(function(){
      var node  = $(this);
      var smsId = node.attr('smsId');
      var note = $('#note').val();
      
      $.post("/sms/addNote",
        {
          smsId: smsId,
          note : note
        },
        function(data, status,xhr){
          if(xhr.status == 200){
            // $("tr[smsId="+smsId+"]" ).remove();
            // table.row($("td[smsId="+smsId+"]").parents('tr')).remove().draw();
            var notes = $("tr[smsId="+smsId+"]").children().eq(5);
            notes.html(notes.html()+','+note);
            $('#modal-default').modal('toggle');
            console.log("Data: " + data.message + "\nStatus: " + status);
          }
          else
            alert("error "+data.message);
        });
    });

     $('#example2').on('click','.assignButton',function(){
      var node  = $(this);

      $('#assignTitle').html("assign #"+node.parents('tr').attr('smsId'));
      $('#assignAction').attr("smsId",node.parents('tr').attr('smsId'));

    });

    $('#assignAction').click(function(){
      var node  = $(this);
      var smsId = node.attr('smsId');
      var repId = $('.representativeSelect').val();
      $.post("/sms/assign",
        {
          smsId: smsId,
          repId : repId
        },
        function(data, status,xhr){
          if(xhr.status == 200){
            table.row($("tr[smsId="+smsId+"]")).remove().draw();
            // var notes = $("tr[smsId="+smsId+"]").children().eq(5);
            // notes.html(notes.html()+','+note);
            $('#modal-assignToRepresentative').modal('toggle');
            console.log("Data: " + data.message + "\nStatus: " + status);
          }
          else
            alert("error "+data.message);
        });
    });

    function getJwt()
    {
      var re = new RegExp("jwt=([^;]+)");
      var value = re.exec(document.cookie);
      return (value != null) ? unescape(value[1]) : null;
    }




    var socket = io.connect('http://68.183.70.136:3000/');
    // var socket = io.connect('http://127.0.0.1:3000/');
    socket.on('connect', function(){
      console.log('a user connected');
      socket.emit('authenticate',{token : getJwt()});
      socket.on('unAutentication',function(data){
        window.location.replace("/auth/login");
      });
      socket.on('newSms',function(data){
        if(activePage == 'view' &&  !rep && (!bank || data.senderName == bank)){
          infoPage = table.page.info();
          node = table.row.add(data);
          if(infoPage.page == 0)
            $("#example2 > tbody ").prepend(node.node());

          // table.settings()[0].oFeatures.bServerSide = false;
          // node.draw(false);
          // table.order([0,'desc']);
          // table.settings()[0].oFeatures.bServerSide = true;
        }
      });

      socket.on('smsComplited',function(data){
        // table.settings()[0].oFeatures.bServerSide = false;
        // table.row($("tr[smsId="+data.smsId+"]")).remove().draw();
        // table.settings()[0].oFeatures.bServerSide = true;
      $("tr[smsId="+data.smsId+"]").remove();
      });

      socket.on('smsWithoutOrders',function(data){
        // table.settings()[0].oFeatures.bServerSide = false;
          // table.row($("tr[smsId="+d._id+"]")).remove().draw();
        // table.settings()[0].oFeatures.bServerSide = true;
        data.forEach(function(d){
          $("tr[smsId="+data.smsId+"]").remove();
        });
      });

      socket.on('disconnect',function(data){
        socket.off('newSms');
        socket.off('smsComplited');

      });

    });
    $('#addHawala').click(function(){
      socket.emit('newSms',{
        senderName : $('#hawalaSenderName').val(),
        phone : $('#hawalaPhone').val(),
        text : $('#hawalaText').val(),
        creationDate : $('#hawalaDate').val(),
        from : 'web'
      });
      $('#hawalaSenderName').val('');
      $('#hawalaPhone').val('');
      $('#hawalaText').val('');
    });

    });

</script>
</body>
</html>
